<a href="https://colab.research.google.com/github/sevilkck/Unicorn-Project-Masterschool/blob/main/Unicorn%20Company%7CData%20Insights%20SQL%20Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Subject.png]() **Unicorn Company|Data Insights SQL Exploration**

---

**Team**


*   Tehmina Aziz
*   Hande Gabrali-Knobloch
*   Sevil Kücük
*   Rutvik Pimpalkar

# Installing and Importing Packages

In [22]:
import pandas as pd
import sqlalchemy as sa

# Connecting to Database

In [23]:
unicorn_url = 'postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Unicorn'

# Making a connection with SQLAlchemy
engine = sa.create_engine (unicorn_url)
connection = engine.connect ().execution_options (isolation_level = 'AUTOCOMMIT')

# **QUESTIONS**

**Question 1: How many customers do we have in the data?**


* This query counts the total number of entries in the customers table
* As customer_id is unique, I didn`t write the query based on COUNT(DISTINCT customer_id)

In [24]:
sql_query = """
SELECT COUNT (customer_id) AS total_num_customer
FROM customers;
"""

total_customers_df = pd.read_sql(sql_query, connection)
display(total_customers_df)

   total_num_customer
0                 795

**Question 2: What was the city with the most profit for the company in 2015?**


* We first join the orders and order_details tables using the order_id
* Then, we filter the data to only include orders placed in the year 2015
* By grouping the results by city and summing the profit column, we can rank cities by total profit and identify the top-performing location in that year

In [25]:
sql_query = """
SELECT o.shipping_city, '$' || TO_CHAR(SUM(od.order_profits), '999,999,990.00') AS total_profit
FROM orders o
JOIN order_details od
USING (order_id)
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY total_profit DESC
LIMIT 1;
"""

city_most_profit_df = pd.read_sql(sql_query, connection)
display(city_most_profit_df)

   shipping_city      total_profit
0  New York City  $      14,753.00

**Question 3: In 2015, what was the most profitable city's profit?**


*   This query identifies the highest profit of the most profitable city in 2015 by joining orders with order_details
*   Filtering orders placed in 2015
*   Grouping the orders together by city name
*   It then calculates the total profit for each specific city by summing the profit values from the order_details table
*   This helps quantify the financial impact of the top-performing city in that year

In [26]:
sql_query = """
SELECT o.shipping_city, '$' || TO_CHAR(SUM(od.order_profits), '999,999,990.00') AS highest_profit
FROM orders o
JOIN order_details od
USING (order_id)
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY highest_profit DESC
LIMIT 1;
"""

highest_profit_city_df = pd.read_sql(sql_query, connection)
display(highest_profit_city_df)

   shipping_city    highest_profit
0  New York City  $      14,753.00

**Question 4:**

1.   How many different cities do we have in the data?
2.   Please refer just to the city name and not similar city names in different states


*   This query retrieves the number of distinct values in the shipping_city column of the orders table
*   By using the DISTINCT keyword, we ensure that each city name is only counted once, regardless of how many times it appears

In [27]:
sql_query = """
SELECT COUNT(DISTINCT shipping_city) AS unique_cities
FROM orders;
"""

unique_cities_df = pd.read_sql(sql_query, connection)
display(unique_cities_df)

   unique_cities
0            531

**Question 5: What is the most profitable city in the State of Tennessee?**


*   Summing total profit per city in Tennessee
*   Formatting the result with a $ sign using TO-CHAR
*   Sorting using the raw SUM to avoid string-sorting issues
*   Returning the most profitable city also by numeric value

In [28]:
sql_query = """
SELECT o.shipping_city, '$' || TO_CHAR(SUM(od.order_profits), '999,999,990.00') AS total_profit
FROM orders o
JOIN order_details od
USING (order_id)
WHERE o.shipping_state = 'Tennessee'
GROUP BY o.shipping_city
ORDER BY SUM(od.order_profits) DESC
LIMIT 1;
"""

tennessee_most_profitable_city_df = pd.read_sql(sql_query, connection)
display(tennessee_most_profitable_city_df)

  shipping_city      total_profit
0       Lebanon  $          83.00

**Question 6: What is the distribution of customer types in the data?**


*   This query retrieves the distribution of customer segments from the customers table
*   Grouping customers by segment type
*   Counts how many customers belong to each segment by customer_id
*   Shows total number of customers per segment category

In [29]:
sql_query = """
SELECT customer_segment, COUNT(customer_id) AS total_customer_distribution
FROM customers
GROUP BY customer_segment;
"""

customer_distribution_df = pd.read_sql(sql_query, connection)
display(customer_distribution_df)

  customer_segment  total_customer_distribution
0         Consumer                          410
1        Corporate                          237
2      Home Office                          148

**Question 7: Which was the biggest order regarding sales in 2015?**


*   Joining order_details which has order_details with orders which has order_date using order_id
*   Filtering for orders placed in 2015
*   Grouping date by order_id to get total_sales per order
*   Formatting sales with a $ sign using TO_CHAR
*   Sorting by total_sales in DESC
*   Returning the single highest sales order from 2015

In [30]:
sql_query = """
SELECT o.order_id,  '$' || TO_CHAR(SUM(od.order_sales), '999,999,990.00') AS total_sales
FROM order_details od
JOIN orders o
USING (order_id)
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.order_id
ORDER BY total_sales DESC
LIMIT 1;
"""

biggest_order_2015_df = pd.read_sql(sql_query, connection)
display(biggest_order_2015_df)

         order_id       total_sales
0  CA-2015-145317  $      23,660.00

**ATTENTION! Due to ambiguity in the question regarding whether to display customer names or count unique customers in the Consumer and Corporate segments, we consulted with the instructors and decided to divide Question 8 into two separate parts for clarity.**

**Question 8a: Display customer names for customers who are in the segment ‘Consumer’ or ‘Corporate.’**



*   From customers table
*   Filtering customers in 'Consumer' and 'Corporate' segments
*   Selecting DISTINCT to avoid counting the same name more than once
*   Ordering by customer_segment in ASC to give a neat look to the list

In [31]:
sql_query = """
SELECT DISTINCT customer_name, customer_segment
FROM customers
WHERE customer_segment IN('Consumer','Corporate')
ORDER BY customer_segment;
"""

customer_names_df = pd.read_sql(sql_query, connection)
display(customer_names_df)

          customer_name customer_segment
0         Aaron Bergman         Consumer
1    Adam Shillingsburg         Consumer
2         Adrian Barton         Consumer
3           Aimee Bixby         Consumer
4           Alan Barnes         Consumer
..                  ...              ...
642    Victoria Pisteka        Corporate
643     Victoria Wilson        Corporate
644         Vivek Grady        Corporate
645       Yana Sorensen        Corporate
646      Yoseph Carroll        Corporate

[647 rows x 2 columns]

**ATTENTION: Please check Question 8a, this is the second part of Question 8.**

**Question 8b: How many customers are there in total?**

*   Filtering customers in 'Consumer' and 'Corporate' segments
*   Counts how many unique customer names exist in those two segments
*   Using DISTINCT to avoid counting the same name more than once

In [32]:
sql_query = """
SELECT COUNT(DISTINCT customer_name) AS total_cust_in_consumer_n_corporate
FROM customers
WHERE customer_segment IN('Consumer','Corporate');
"""

total_count_cust_name_in_consumer_and_corporate_df = pd.read_sql(sql_query, connection)
display(total_count_cust_name_in_consumer_and_corporate_df)

   total_cust_in_consumer_n_corporate
0                                 647

**Question 9: Calculate the difference between the largest and smallest order quantities for product id ‘100.’**

*   Starting from the order_details table
*   Filtering rows for product with ID 100
*   Finding the highest and lowest quantity sold for that product
*   Calculating the difference between the max and min

In [33]:
sql_query = """
SELECT MAX(quantity) AS max_quantity, MIN(quantity) AS min_quantity,
MAX(quantity) - MIN(quantity) AS quantity_difference
FROM order_details
WHERE product_id = 100;
"""

quantity_difference_df = pd.read_sql(sql_query, connection)
display(quantity_difference_df)

   max_quantity  min_quantity  quantity_difference
0             6             2                    4

**Question 10:Calculate the percent of products that are within the category ‘Furniture’.**


*   Created two separate queries and packed them in subquerries
*   pc = product count // This subquery counts how many products exist in each category
*   sc = sum count // This subquery calculates the total number of products overall
*   As each subquery runs independently, CROSS JOIN is used to attach the total product count( which is only one row) to each product category row, allowing percentage calculation

In [34]:
sql_query = """
SELECT
pc.product_category,
pc.total_product_furniture,
sc.total_sum_product,
ROUND(pc.total_product_furniture*100.0/sc.total_sum_product, 2) AS percentage
FROM (
  SELECT COUNT(*) AS total_product_furniture, product_category
  FROM product
  WHERE product_category = 'Furniture'
  GROUP BY product_category
  ) pc
  CROSS JOIN (
    SELECT COUNT(*) AS total_sum_product
    FROM product) sc;
"""

furniture_percentage_df = pd.read_sql(sql_query, connection)
display(furniture_percentage_df)

  product_category  total_product_furniture  total_sum_product  percentage
0        Furniture                      380               1850       20.54

**Question 11:**

1.   Display the manufacturers with more than 1 product in the product table, with their number of products.
2.   Note: Do not sort your results, and do not use distinct because it affects output order.

*   Starting with the product table
*   Grouping products by manufacturer name
*   Counting how many products each manufacturer has
*   Using HAVING to filter and keep only manufacturers with more than  1 product
*   DISTINCT is avoided as requested, and no sorting is applied

In [35]:
sql_query = """
SELECT product_manufacturer, COUNT(product_id) AS num_of_products
FROM product
GROUP BY product_manufacturer
HAVING  COUNT(product_id)>1;
"""

manufacturers_more_than_1_product_df = pd.read_sql(sql_query, connection)
display(manufacturers_more_than_1_product_df)

    product_manufacturer  num_of_products
0                 Linden                2
1                Iceberg                3
2                SanDisk                8
3                Memorex               13
4                Bulldog                2
..                   ...              ...
164              Brother                2
165           Strathmore                3
166              Fiskars                4
167             OtterBox                4
168           Pressboard                4

[169 rows x 2 columns]

**Question 12:**

1.   Show the product_subcategory and the total number of products in the subcategory.
2.   Show the order for the most to least number of produ


*   Starting from the product table
*   Grouping all products by their subcategories
*   Counting how many products are in each subcategories
*   Sorting subcategories from most to least number of products

In [36]:
sql_query = """
SELECT product_subcategory, COUNT(*) AS product_count
FROM product
GROUP BY product_subcategory
ORDER BY product_count DESC;
"""

product_subcategory_count_df = pd.read_sql(sql_query, connection)
display(product_subcategory_count_df)

   product_subcategory  product_count
0                Paper            277
1              Binders            211
2               Phones            189
3          Furnishings            186
4                  Art            157
5          Accessories            147
6              Storage            132
7           Appliances             97
8               Chairs             88
9               Labels             70
10            Machines             63
11              Tables             56
12           Bookcases             50
13           Envelopes             44
14            Supplies             36
15           Fasteners             34
16             Copiers             13

**Question 13: Show the product_id(s), the sum of quantities, where for each sale of product quantities is greater than or equal to 100.**

*   Starting from the order_details table
*   Filtering only rows where quantity is 100 or more
*   Grouping the remaining rowss by product ID

In [37]:
sql_query = """
SELECT product_id, SUM(quantity) AS total_quantity
FROM order_details
WHERE quantity >=100
GROUP BY product_id;
"""

total_quantity_df = pd.read_sql(sql_query, connection)
display(total_quantity_df)

   product_id  total_quantity
0         122           143.0
1         920           130.0
2        1507           324.0
3        1600           216.0

**Bonus question: Join all database tables into one dataset that includes all unique columns and download it as a .csv file.**

*   Joining all tables using foreign keys
*   Including only unique, relevant columns (no repeats)
*   Outputting one clean, combined dataset - ready for export

In [39]:
# Create an SQLAlchemy TextClause object from the raw SQL query
sql_query = """
SELECT
c.customer_id,
c.customer_name,
c.customer_segment,
o.order_id,
o.order_date,
o.shipping_city,
o.shipping_state,
o.shipping_region,
o.shipping_country,
o.shipping_postal_code,
o.shipping_date,
o.shipping_mode,
od.order_details_id,
od.product_id,
od.quantity,
od.order_discount,
od.order_profits,
od.order_profit_ratio,
od.order_sales,
p.product_name,
p.product_category,
p.product_subcategory,
p.product_manufacturer

FROM customers c
JOIN orders o
USING (customer_id)
JOIN order_details od
USING (order_id)
JOIN product p
USING (product_id);
"""

# Execute the SQL query and load the result into a Pandas DataFrame
# Assign the resulting DataFrame to a variable
unicorn_SQLjoined_tables = pd.read_sql(sa.text(query), connection)

# Print head for verification
print("DataFrame head:")
print(unicorn_SQLjoined_tables.head())

# Define the CSV filename
csv_filename = 'unicorn_SQLjoined_tables.csv'

# Export the DataFrame to CSV
# index=False prevents pandas from writing the DataFrame index as a column in the CSV
unicorn_SQLjoined_tables.to_csv(csv_filename, index=False)

# Confirm DataFrame has been exported to which CSV file
print(f"\nData successfully exported to {csv_filename}.")

DataFrame head:
  order_date        order_id    customer_name customer_segment  \
0 2015-09-06  CA-2015-100004     Bill Shonely        Corporate
1 2015-09-06  CA-2015-100004     Bill Shonely        Corporate
2 2015-09-07  CA-2015-100006      Dennis Kane         Consumer
3 2015-09-07  CA-2015-100032  Arthur Wiediger      Home Office
4 2015-09-07  CA-2015-100032  Arthur Wiediger      Home Office

                                    product_name product_category  \
0         Alphabetical Labels for Top Tab Filing  Office Supplies
1  Global Manager's Adjustable Task Chair, Storm        Furniture
2                              AT&T EL51110 DECT       Technology
3         Alphabetical Labels for Top Tab Filing  Office Supplies
4    Recycled Premium Regency Composition Covers  Office Supplies

  product_subcategory product_manufacturer  shipping_city shipping_state  \
0              Labels                Other  New York City       New York
1              Chairs               Global  New York City       New York
2              Phones                 AT&T  New York City       New York
3              Labels                Other  New York City       New York
4             Binders                Other  New York City       New York

  shipping_region shipping_date   shipping_mode  quantity  order_discount  \
0            East    2015-09-06        Same Day      62.0             0.1
1            East    2015-09-06        Same Day      18.0             0.2
2            East    2015-09-13  Standard Class       3.0             0.0
3            East    2015-09-13  Standard Class      53.0             0.1
4            East    2015-09-13  Standard Class      23.0             0.1

   order_profits  order_profit_ratio  order_sales
0          327.0                0.39        837.0
1          565.0                0.26       2174.0
2          110.0                0.29        378.0
3          272.0                0.38        715.0
4           96.0                0.31        311.0

Data successfully exported to unicorn_SQLjoined_tables.csv.